.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Build ###
**/bin
**/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
